body {
  background-color: darkgrey;
  margin: auto;
  width: 960px;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  font-family: 'Courier New', Courier, monospace;
}

#product-container {
  display: flex;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
}
img  {
  margin: auto;
  justify-content: center;
  width: 250px;
  border-radius: 20px;

}

input[type=submit] {
  margin: 0 auto;
  display: block;
  border: 2px solid darkgrey;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: pink;
  transition: 1s;

}